tp-navbar {
  nav {
    .brand-logo {
      position: relative;
      padding: 0 25px;
      font-size: 4.5rem;

      img {
        float: left;
        height: 4rem;
        line-height: 4rem;
        margin-right: 5px;
      }

      span {
        font-family: 'BallsOnTheRampage';

        &.prefix {
          color: #FFEB3B;
        }
      }
    }

    ul.menu li {
      font-weight: bold;
      text-transform: uppercase;

      span.circle {
        width: 40px;
        height: 40px;
        display: inline-block;
        vertical-align: middle;
        border-radius: 50%;
        background: #32c12f;
        line-height: 40px;

        i {
          height: inherit;
          line-height: inherit;
          width: inherit;
          text-align: center;
          font-size: 32px;
        }
      }
    }

    ul.account {
      i.user {
        font-size: 40px;
        margin-right: 5px;
      }
    }

    a[md-sidenav-collapse] {
      cursor: pointer;
      padding: 0 10px; 
    }
  }

  md-sidenav {
    .side-nav {
      div.user-view {
        background: #259B23;

        span.name {
          margin-top: 0;
        }

        span.email {
          padding-bottom: 5px;
        }

        .logout-wrap {
          padding-bottom: 10px;
        }

        i.user {
          width: 100%;
          color: #fff;
        }
      }

      li[md-waves] {
        padding-bottom: 10px;

        span.circle {
          width: 40px;
          height: 40px;
          display: inline-block;
          vertical-align: middle;
          border-radius: 50%;
          background: #32c12f;
          color: #fff;
          line-height: 40px;
          margin-right: 10px;
          margin-left: 20px;
  
          i {
            height: inherit;
            line-height: inherit;
            width: inherit;
            text-align: center;
            font-size: 24px;
          }
        }
      }
    }
  }
}
